@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;padding:0;
}
html{
	font-size:26.67vw;
}
html,body{
    position: relative;
}
body{
	font-family: "微软雅黑",Arial;
	background:#f6f6f6;
	/* display:-webkit-flex;
	flex-direction:column; */
}
ul,ol{
	list-style:none;
}	
img{
	border: 0;
	display:block;
}
a{
	text-decoration: none;	
}
em,i{
	font-style: normal;
}

/* header */
.dangBookHeader{
    height:3.49rem;
    background: #f2f2f2;
    border-radius: 12px;
    margin:.89rem .18rem 0 .18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.headerBook1{
    display: flex;
}
.headerBook1 img{
    width:.49rem;
    height:.49rem;
    margin-left:.48rem;
    margin-right:.34rem;
}
.whrite{
    font-size: .19rem;
    margin-bottom: .08rem;
}
.call{
    font-size: .16rem;
    color:#75767b;
}
/* close */
.button{
    width:.5rem;;
    height:.5rem;
    border:1px solid #a7aca8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    margin-top:1.3rem;
}
.button .iconclose_light{
    font-size: .3rem;
    color:#a7aca8;
}
.button:hover{
    background: #a7aca8;
}
.button:hover i{
    color:#fff;
}
